.headerBar,
.headerList {
  background-color: white;
}

.headerList {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.about {
  border-top: 2px solid rgba(105, 105, 105, 0.3);
  border-bottom: 2px solid rgba(105, 105, 105, 0.3);
}

.blogsTop {
  border-bottom: 2px solid rgba(105, 105, 105, 0.3);
}

.footerList li {
  background-color: dimgray;
  color: white;
}

.headerList li:hover,
.headerList li:focus,
.headerDivs p:hover,
.headerDivs p:focus {
  background-color: rgba(105, 105, 105, 0.5);
}

.numbersList li:hover,
.numbersList li:focus {
  background-color: black;
  color: white;
}

.footerList li:hover,
.footerList li:focus {
  background-color: black;
}
