$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$grey: rgb(105, 105, 105);

.headerBar,
.headerList {
  background-color: $white;
}

.headerList {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.about {
  border-top: 2px solid rgba(105, 105, 105, 0.3);
  border-bottom: 2px solid rgba(105, 105, 105, 0.3);
}

.blogsTop {
  border-bottom: 2px solid rgba(105, 105, 105, 0.3);
}

.footerList li {
  background-color: $grey;
  color: $white;
}

// Hover/focus:

.headerList li:hover,
.headerList li:focus {
  background-color: rgba(105, 105, 105, 0.5);
}

.numbersList li:hover,
.numbersList li:focus {
  background-color: $black;
  color: $white;
}

.footerList li:hover,
.footerList li:focus {
  background-color: $black;
}
