* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1250px;
  width: 93%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  overflow-x: hidden;
}

.headerDivs,
.sectionList,
.paginationList,
.article,
footer,
.footerList {
  display: flex;
}

.sectionList,
footer,
.footerList {
  flex-wrap: wrap;
}

.headerDivs,
.card img {
  margin: 0 auto;
}

.headerDivs p,
li,
.article p,
.fas {
  cursor: pointer;
}
