header {
  height: 25vh;
}

h1 {
  margin: 0;
}

.headerList li {
  padding: 2rem 0 2rem 3rem;
}

.headerList a {
  outline-style: none;
}

.headerBar,
.headerList {
  position: fixed;
  top: 0;
}

.headerBar {
  padding: 2rem 0;
  width: 100%;
}

.headerDivs {
  justify-content: space-between;
  align-items: center;
  width: 82%;
}

.headerList {
  left: 0;
  height: 100%;
  width: 39%;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 1;
}

.navActive {
  transform: translateX(0%);
}

.hiddenItems {
  display: none;
}

.displayItems {
  display: block;
}
