.topOptionsList p,
.about p:last-child {
  line-height: 2.5rem;
}

.topOptionsList h2 {
  margin: 1.5rem 0 2rem 0;
  line-height: 4rem;
}

.topOptionsList div {
  width: 312.5px;
}

.topOptionsList p {
  width: 96%;
}

.topOptionsList div,
.about {
  text-align: center;
}

// .botOptionsList {
//   margin-top: 5rem;
// }

.about {
  padding: 8rem 0 10rem 0;
}

.about img {
  margin: 3rem auto 3.5rem;
  width: 720px;
}

// @media (max-width: 720px) {
//   .about img {
//     width: 360px;
//   }
// }

.about p:nth-of-type(2) {
  margin: 2rem 0;
}

.paginationList {
  margin: 6rem 0;
  justify-content: center;
}

.paginationList li,
.paginationList .fas {
  padding: 1rem 2rem;
}
