.card p,
.about p:last-child {
  line-height: 2.5rem;
}

.card {
  width: 312.5px;
}

.card h2 {
  margin: 1.5rem 0 2rem 0;
  line-height: 4rem;
}

.card p {
  width: 96%;
}

.card,
.paginationList {
  margin-bottom: 5rem;
}

.card,
.about {
  text-align: center;
}

.about {
  padding: 8rem 0 10rem 0;
}

.about img {
  margin: 3rem auto 3.5rem;
  width: 885px;
}

.about p:nth-of-type(2) {
  margin: 2rem 0;
}

.paginationList li,
.paginationList .fas {
  padding: 1rem 2rem;
}
