// light 300, regular 400, medium 500

body {
  font-family: "Karma", serif;
  font-size: 1.66rem;
  font-weight: 400;
}

.menuBars .fas {
  font-size: 3.5rem;
}

h1,
h2,
h3,
header a {
  font-size: 2.7rem;
  font-weight: 500;
}

.article a {
  font-size: 2.1rem;
}

.footerList a {
  font-size: 1.3rem;
}
