html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1250px;
  width: 93%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  overflow-x: hidden;
}

.headerDivs p,
li,
.article p,
.fas {
  cursor: pointer;
}

body {
  font-family: "Karma", serif;
  font-size: 1.66rem;
  font-weight: 400;
}

.menuBars {
  font-size: 3.5rem;
}

h1,
h2,
h3,
header li,
.headerDivs p {
  font-size: 2.7rem;
  font-weight: 500;
}

.article li {
  font-size: 2.1rem;
}

.footerList li {
  font-size: 1.3rem;
}

.headerBar,
.headerList {
  background-color: white;
}

.headerList {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.about {
  border-top: 2px solid rgba(105, 105, 105, 0.3);
  border-bottom: 2px solid rgba(105, 105, 105, 0.3);
}

.blogsTop {
  border-bottom: 2px solid rgba(105, 105, 105, 0.3);
}

.footerList li {
  background-color: dimgray;
  color: white;
}

.headerList li:hover,
.headerList li:focus {
  background-color: rgba(105, 105, 105, 0.5);
}

.numbersList li:hover,
.numbersList li:focus {
  background-color: black;
  color: white;
}

.footerList li:hover,
.footerList li:focus {
  background-color: black;
}

header {
  height: 40vh;
}

h1 {
  margin: 0;
}

.headerList li {
  padding: 2rem 0 2rem 3rem;
}

.headerBar {
  position: fixed;
  top: 0;
  padding: 2rem 0;
  width: 100%;
}

.headerDivs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerList {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 39%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 1;
}

.navActive {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.hiddenItems {
  display: none;
}

.displayItems {
  display: block;
}

.topOptionsList p,
.botOptionsList p,
.about p:last-child {
  line-height: 2.5rem;
}

.topOptionsList h2,
.botOptionsList h2 {
  margin: 1.5rem 0 2rem 0;
  line-height: 4rem;
}

.topOptionsList div,
.botOptionsList div {
  width: 25%;
}

.topOptionsList p,
.botOptionsList p {
  width: 96%;
}

.botOptionsList {
  margin-top: 5rem;
}

.about {
  padding: 8rem 0 10rem 0;
}

.about img {
  margin: 3rem auto 3.5rem;
  width: 71%;
}

.about p:nth-of-type(2) {
  margin: 2rem 0;
}

.numbersList {
  margin: 6rem 0;
}

.numbersList a {
  padding: 1rem 2rem;
}

.numbersList .fas {
  padding: 0 2rem;
}

footer {
  padding: 7rem 0;
}

h3 {
  margin-bottom: 3rem;
}

footer section {
  width: calc(100% / 3);
}

footer section:first-child p {
  margin-bottom: 3.7rem;
}

footer section:first-child,
footer section:nth-child(3),
.blogsTop,
.blogsBot {
  padding-left: 1.5rem;
}

.blogsTop {
  padding-bottom: 2rem;
}

.blogsBot {
  padding-top: 1.7rem;
}

.article1 {
  padding-top: 1rem;
}

.article img {
  margin: 0 1.5rem 0.3rem 0;
  width: 63px;
}

.footerList:not(first-child) {
  margin-bottom: 2.5rem;
}

.footerList li {
  padding: 0.2rem 0.6rem;
  margin-right: 0.4rem;
}
